<html ng-app="restarauntSearch">
  <head>
    <title>Restaraunt Finder</title>
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/restarauntSearch.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body

    <div class="container" ng-controller="RestarauntsCtrl">
      <div class="row" ng-shoe="restaraunts.length">
        <div class="col-md-4">
          <h4>Add a Restaraunt</h4>
          <form ng-submit="addRestaraunt()" class="form-inline" role="form">
            <div class="form-group">
              <input type="text" ng-model="restarauntName" class="form-control" placeholder="Enter Name">
            </div>

            <div class="form-group">
              <input type="text" ng-model="restarauntType" class="form-control" placeholder="Food type">
            </div>

            <div class="form-group">
              <input type="text" ng-model="restarauntLocation" class="form-control" placeholder="Enter Location">
            </div>

            <div class="form-group">
              <label> Price rating (from 1 to 5)
              <input type="number" ng-model="restarauntPrice" class="form-control" min="1" max="5">
            </label>
            </div>
            <button class="btn btn-default" type="submit">Enter</button>
          </form>
        </div>

        <div class="column-md-12">

          <h4>Search Restaraunt Name</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="query" type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="column-md-12">
      <table class="restaraunt">
        <tr>
          <th><a href="" ng-click="reverse=false;order('name', false)">Name</a>
            (<a href="" ng-click="order('-name',false)">^</a>)</th>
          <th><a href="" ng-click="reverse=!reverse;order('type', reverse)">Type of Food</a></th>
          <th><a href="" ng-click="reverse=!reverse;order('location', reverse)">Location</a></th>
        </tr>

        <tr ng-repeat="item in restaraunts">
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.location }}</td>
        </tr>
      </table>
    </dv>
  </dv>

      <div class="row">
        <div class= "column-md-12">
          <h2 ng-show="restaraunts.length && filtered.length">Restaraunt list</h2>
          <h2 ng-show="restaraunts.length && !filtered.length">No Results Found</h2>




            <ul>
              <li ng-repeat="item in filtered = (restaraunts | filter:query)">

                <span ng-click="editing = true" ng-hide="editing">
                  {{ item.name }}  <a ng-click="deleteRestaraunt(item)">Delete Restaraunt</a>
                </span>

                    <ul>
                      <span ng-click="editing = true" ng-hide="editing"><li>{{ item.type }}</span>,
                    <span ng-click="editing = true" ng-hide="editing">{{ item.location }}</span>,
                      <span ng-click="editing = true" ng-hide="editing">  {{ item.price }} </span></li>
                    </ul>


                <span class="form-group" ng-show="editing" ng-submit="editing = false">
                  <form class="form-inline" role="form">
                    <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required/>
                    <input type="text" class="form-control input-sm" ng-model="item.type" placeholder="Type of Food" required/>

                    <input type="text" class="form-control input-sm" ng-model="item.location" placeholder="Location" required/>
                    <input type="text" class="form-control input-sm" ng-model="item.price" placeholder="Price Range" required/>

                    <button class="btn btn-default btn-sm" type="submit">Save</button>
                  </form>
                </span>

              </li>
            </ul>
        </div>



      </div>

    </div>

  </body>
</html>
